@import '_variables.scss';

h1 {
  font-size: $core-fonts-header-xlarge-font-size+ px;
}


body {
  font-family: $core-fonts-header-xlarge-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
