@import './_variables.scss';

h1 {
  font-size: $font-text-display-size + px;
  color: $color-careem-black-100;
}


body {
  font-family: $font-text-display-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
